JWT_SECRET=your-super-secret-jwt-key-change-in-production
MONGODB_URI=mongodb+srv://imagetotext_user:Abrisco%40real17@cluster0.hmrqdr8.mongodb.net/imagetotext?retryWrites=true&w=majority&appName=Cluster0

MONGODB_DATABASE=imagetotext
PORT=8080
ENVIRONMENT=development
FRONTEND_URL=http://localhost:4200

CLOUDINARY_API_KEY=396746148926282
CLOUDINARY_CLOUD_NAME=dzzvvkwqa
CLOUDINARY_API_SECRET=daNgsndIAdUhrroskUsXZzRdDq0
CLOUDINARY_URL=cloudinary://396746148926282:daNgsndIAdUhrroskUsXZzRdDq0@dzzvvkwqa

EMAIL_USER=wisdomvolt@gmail.com
EMAIL_PASSWORD="gfnb nabi mgxu fiic"

OPENROUTER_API_KEY=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